/* font import */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Caveat:wght@400..700&display=swap');


:root{
/* color */
    --color_Pale_azure:#97dffc;
    --color_Tropical_indigo:#868be4;
    --color_Lris:#613dc2;
    --color_Indigo:#4d148a;
    --color_Russian_violet:#2d0736;
    --color_whitesmoke:#f5f5f5;


/* font family */
    --header_font_family:"Caveat", cursive;
    --text_font_family:"Bad Script", cursive;
    --Link_font_family:"Architects Daughter", cursive;
}

/* css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
a, a:active ,a:focus{
    text-decoration: none;
    font-family: var(--Link_font_family);
    color: var(--color_whitesmoke);
    }
    
    h1,h2,h3{
        font-family: var(--header_font_family);
    
    }
    p{
        font-family: var(--text_font_family);
    }

/* ALL Mobile devices */

@media screen and (max-width: 480px) {

    body{
        padding-bottom: 2rem;
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.37.08\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        main{
            h1{
                font-size: 3rem;
                text-align: center;
                color: var(--color_whitesmoke);
            }
            .contact_me{
                border: solid 4px var(--color_Russian_violet);
                border-radius: 15px;
                padding: 1rem;
                margin: 2rem 2rem 0rem 2rem;
                display: flex;
                flex-direction: column;
                background-color: var(--color_Pale_azure);
                .contact_me_information{
                    h2{
                        text-align: center;
                    }
                    .email_phone{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        .email{
                            text-align: center;
                            padding: 1rem;
                        }
                        .phone{
                            text-align: center;
                            padding: 1rem;
                        }
                    }
                }
                .contact_me_massage{
                    h2{
                        text-align: center;
                    } 
                    .contact_me_name,.contact_me_phonenumbr{
                        padding: 1rem;
                        text-align: center;
                        input{
                            border-radius: 4px;
                            border: none;
        
                        }
                    }
                    .contact_me_massage_box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 2rem;
                        .massagebox_box{
                            border-radius: 5px;
                        }
                    }
                    .button{
                        display: flex;
                        justify-content: space-between;
                        padding: 0rem 1rem 0rem 1rem;
                        button{
                            border: none ;
                            border-radius: 15px ;
                            padding: 0.1rem 1rem;
                            margin: 0.1rem;
                        }
                    }
                }
            }
         }  
    }


}


/* ALL iPads, Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    
   
    body{
        padding-bottom: 2rem;
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.37.08\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        main{
            h1{
                text-align: center;
                color: var(--color_whitesmoke);
                font-size: 4rem;
            }
            .contact_me{
                border: solid 4px var(--color_Russian_violet);
                border-radius: 15px;
                padding: 1rem;
                margin: 3rem 3rem 0rem 3rem;
                display: flex;
                flex-direction: column;
                background-color: var(--color_Pale_azure);
                .contact_me_information{
                    h2{
                        font-size: 2rem;
                        text-align: center;
                    }
                    .email_phone{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        .email{
                            text-align: center;
                            padding: 1rem;
                        }
                        .phone{
                            text-align: center;
                            padding: 1rem;
                        }
                    }
                }
                .contact_me_massage{
                    h2{
                        text-align: center;
                        font-size: 2rem;
                    }
                    .phonenumbr_name_contact_me{ 
                        display: flex;
                        justify-content: center;
                    .contact_me_name,.contact_me_phonenumbr{
                        padding: 1rem;
                        text-align: center;
                        input{
                            border-radius: 4px;
                            border: none;
        
                        }
                    }
                }
                    .contact_me_massage_box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 2rem;
                        .massagebox_box{
                            border-radius: 5px;
                        }
                    }
                    .button{
                        display: flex;
                        justify-content: space-between;
                        padding: 0rem 3rem 0rem 3rem;
                        button{
                            border: none ;
                            border-radius: 15px ;
                            padding: 0.1rem 1rem;
                            margin: 0.1rem;
                        }
                    }
                }
            }
         }  
    }

    
}

/* ALL Small screens, laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    body{
        padding-bottom: 2rem;
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.37.08\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        main{
            h1{
                text-align: center;
                color: var(--color_whitesmoke);
                font-size: 4rem;
            }
            .contact_me{
                border: solid 4px var(--color_Russian_violet);
                border-radius: 15px;
                padding: 1rem;
                margin: 5rem 4rem 0rem 4rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: var(--color_Pale_azure);
                .contact_me_information{
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-size: 2rem;
                        text-align: center;
                    }
                    .email_phone{
                        padding: 3rem 0rem 3rem 0rem ;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        .email{
                            text-align: center;
                            padding: 1rem;
                        }
                        .phone{
                            text-align: center;
                            padding: 1rem;
                        }
                    }
                }
                .contact_me_massage{
                    h2{
                        text-align: center;
                        font-size: 2rem;
                    }
                    .contact_me_name,.contact_me_phonenumbr{
                        padding: 1rem;
                        text-align: center;
                        input{
                            border-radius: 4px;
                            border: none;
        
                        }
                    }
                
                    .contact_me_massage_box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 2rem;
                        .massagebox_box{
                            border-radius: 5px;
                        }
                    }
                    .button{
                        display: flex;
                        justify-content: space-between;
                        padding: 0rem 3rem 0rem 3rem;
                        button{
                            border: none ;
                            border-radius: 15px ;
                            padding: 0.1rem 1rem;
                            margin: 0.1rem;
                        }
                    }
                }
            }
         }  
    }

    
}

/* ALL Desktops, large screens */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    body{
        padding-bottom: 2rem;
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.37.08\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        main{
            h1{
                text-align: center;
                color: var(--color_whitesmoke);
                font-size: 4rem;
            }
            .contact_me{
                border: solid 4px var(--color_Russian_violet);
                border-radius: 15px;
                padding: 1rem;
                margin: 7rem 9rem 0rem 9rem;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: var(--color_Pale_azure);
                .contact_me_information{
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-size: 2rem;
                        text-align: center;
                    }
                    .email_phone{
                        padding: 3rem 0rem 3rem 0rem ;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        .email{
                            text-align: center;
                            padding: 1rem;
                        }
                        .phone{
                            text-align: center;
                            padding: 1rem;
                        }
                    }
                }
                .contact_me_massage{
                    h2{
                        text-align: center;
                        font-size: 2rem;
                    }
                    .contact_me_name,.contact_me_phonenumbr{
                        padding: 1rem;
                        text-align: center;
                        input{
                            border-radius: 4px;
                            border: none;
        
                        }
                    }
                
                    .contact_me_massage_box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 2rem;
                        .massagebox_box{
                            border-radius: 5px;
                        }
                    }
                    .button{
                        display: flex;
                        justify-content: space-between;
                        padding: 0rem 3rem 0rem 3rem;
                        button{
                            border: none ;
                            border-radius: 15px ;
                            padding: 0.1rem 1rem;
                            margin: 0.1rem;
                        }
                    }
                }
            }
         }  
    }

    
}

/* ALL Extra large screens, TV */

@media screen and (min-width: 1201px) {
    
    body{
        padding-bottom: 2rem;
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.37.08\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        main{
            h1{
                text-align: center;
                color: var(--color_whitesmoke);
                font-size: 4rem;
            }
            .contact_me{
                border: solid 4px var(--color_Russian_violet);
                border-radius: 15px;
                padding: 1rem;
                margin: 10rem 15rem 0rem 15rem;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: var(--color_Pale_azure);
                .contact_me_information{
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-size: 2rem;
                        text-align: center;
                    }
                    .email_phone{
                        padding: 3rem 0rem 3rem 0rem ;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        .email{
                            text-align: center;
                            padding: 1rem;
                        }
                        .phone{
                            text-align: center;
                            padding: 1rem;
                        }
                    }
                }
                .contact_me_massage{
                    h2{
                        text-align: center;
                        font-size: 2rem;
                    }
                    .contact_me_name,.contact_me_phonenumbr{
                        padding: 1rem;
                        text-align: center;
                        input{
                            border-radius: 4px;
                            border: none;
        
                        }
                    }
                
                    .contact_me_massage_box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 2rem;
                        .massagebox_box{
                            border-radius: 5px;
                        }
                    }
                    .button{
                        display: flex;
                        justify-content: space-between;
                        padding: 0rem 3rem 0rem 3rem;
                        button{
                            border: none ;
                            border-radius: 15px ;
                            padding: 0.1rem 1rem;
                            margin: 0.1rem;
                        }
                    }
                }
            }
         }  
    }

    
}