/* font import */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Caveat:wght@400..700&display=swap');


:root{
/* color */
    --color_Pale_azure:#97dffc;
    --color_Tropical_indigo:#868be4;
    --color_Lris:#613dc2;
    --color_Indigo:#4d148a;
    --color_Russian_violet:#2d0736;
    --color_whitesmoke:#f5f5f5;
    --color_Libkedin_background:#0464C6;
    --color_Libkedin_text:#FFFFFF;
    --color_fiverr_background:#03B229;
    --color_fiverr_text:#F3FAF4;


/* font family */
    --header_font_family:"Caveat", cursive;
    --text_font_family:"Bad Script", cursive;
    --Link_font_family:"Architects Daughter", cursive;

/* box shadow */
    --box_shadow: 2px 2px 5px;

}

/* css Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
a, a:active ,a:focus{
text-decoration: none;
font-family: var(--Link_font_family);
}

h1,h2,h3{
    font-family: var(--header_font_family);

}
p{
    font-family: var(--text_font_family);
}

/* ALL Mobile devices */

@media screen and (max-width: 480px) {

    img{
        width: 100px;
    }
    header{
        background-color: var(--color_Indigo);
        border-radius: 0rem 0rem 30rem 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header_proflie_image{
            margin: 2rem 0rem 0rem 0rem;
            img{
                width: 300px;
                border-radius: 50%;
                border: solid 5px var(--color_Russian_violet);
            }
        }
        .header_proflie_text{
            h1{
                font-size: 4rem;
                text-align: center;
                color: var(--color_whitesmoke);
            }
            p{
                text-align: center;
                color: var(--color_Russian_violet);
                font-size: 1.7rem;
            }
        }
    }
    main{
        .main_work_link{
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            margin: 2rem 0rem;
            .Libkedin{
                padding: 0.3rem 1rem;
                background-color:var(--color_Libkedin_background);
                border-radius: 15px;
                i{
                    padding-right: 0.4rem;
                }
                a{
                color: var(--color_Libkedin_text);
                 }
            }
            .fiverr{
                padding: 0.3rem 2rem;
                background-color:var(--color_fiverr_background);
                border-radius: 15px;
                a{
                    
                color: var(--color_fiverr_text);
                 }
            }
            .Libkedin:hover{
                box-shadow: 2px 2px 5px var(--color_Libkedin_background);
            }
            .fiverr:hover{
                box-shadow: var(--box_shadow) var(--color_fiverr_background);
            }
        }
        .main_contact{
            display: flex;
            justify-content: space-between;
            margin: 2rem;
            gap: 1rem;
            .contact_link{
                padding: 0.4rem 2rem;
                background-color: var(--color_Russian_violet);
                border-radius: 10px;
                border: solid var(--color_Indigo) 4px;
                a{
                    color: var(--color_Indigo);
                }
            }
            .contact_vods{
                padding: 0.4rem 2rem;
                background-color: var(--color_Russian_violet);
                border-radius: 10px;
                border: solid var(--color_Indigo) 4px;
                a{
                    color: var(--color_Indigo);
                }
            }
            .contact_link:hover,.contact_vods:hover{
                transition: all;
                transform: translateY(-10px);
                transition-duration: 2s;
                box-sizing: var(--box_shadow);
                border: var(--color_Lris);
                a{
                    color: var(--color_Lris);
                }
            }
        }
    }
}

/* ALL iPads, Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    body{
        background-color: rgb(255, 208, 0);
    }
    
}

/* ALL Small screens, laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    body{
        background-color: rgb(34, 255, 0);
    }
    
}

/* ALL Desktops, large screens */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    body{
        background-color: rgb(0, 170, 255);
    }
    
}

/* ALL Extra large screens, TV */

@media screen and (min-width: 1201px) {
    
    body{
        background-color: rgb(183, 0, 255);
    }
    
}