/* font import */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Caveat:wght@400..700&display=swap');


:root{
/* color */
    --color_Pale_azure:#97DFFC;
    --color_Tropical_indigo:#858AE3;
    --color_Lris:#613DC1;
    --color_Indigo:#4E148C;
    --color_Russian_violet:#2C0735;

/* font family */
    --header_font_family:"Caveat", cursive;
    --text_font_family:"Bad Script", cursive;
    --Link_font_family:"Architects Daughter", cursive;
}

/* css Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
a, a:active ,a:focus{
    text-decoration: none;
    font-family: var(--Link_font_family);
    }
    
    h1,h2,h3{
        font-family: var(--header_font_family);
    
    }
    p{
        font-family: var(--text_font_family);
    }


/* ALL Mobile devices */

@media screen and (max-width: 480px) {

 body{
background-color: rgb(255, 0, 0);
}
}

/* ALL iPads, Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    body{
        background-color: rgb(255, 208, 0);
    }
    
}

/* ALL Small screens, laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    body{
        background-color: rgb(34, 255, 0);
    }
    
}

/* ALL Desktops, large screens */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    body{
        background-color: rgb(0, 170, 255);
    }
    
}

/* ALL Extra large screens, TV */

@media screen and (min-width: 1201px) {
    
    body{
        background-color: rgb(183, 0, 255);
    }
    
}