/* font import */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Caveat:wght@400..700&display=swap');


:root{
/* color */
--color_Pale_azure:#97dffc;
--color_Tropical_indigo:#868be4;
--color_Lris:#613dc2;
--color_Indigo:#4d148a;
--color_Russian_violet:#2d0736;
--color_whitesmoke:#f5f5f5;

/* font family */
    --header_font_family:"Caveat", cursive;
    --text_font_family:"Bad Script", cursive;
    --Link_font_family:"Architects Daughter", cursive;

/* box shadow */
    --box_shadow: 3px 3px 5px;
}

/* css Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
a, a:active ,a:focus{
    text-decoration: none;
    font-family: var(--Link_font_family);
    color: var(--color_whitesmoke);
    }
    
    h1,h2,h3{
        font-family: var(--header_font_family);
    }
    p{
        font-family: var(--text_font_family);
    }


/* ALL Mobile devices */

@media screen and (max-width: 480px) {

 main{
    padding: 2rem;
    background-image: linear-gradient(var(--color_Russian_violet),var(--color_Lris));
    background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.36.56\ PM.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        text-align: center;
        padding: 2rem;
        font-size: 5rem;
        background-image: linear-gradient(var(--color_Tropical_indigo),var(--color_whitesmoke));
        background-clip: text;
        color: transparent;
    }
    .vods_link{
        padding: 1rem;
        background-color: rgba(87, 2, 120, 0.263);
        backdrop-filter: blur(10px);
        border-radius: 1rem;
    img{
        width: 100%;
        border-radius: 2rem;
    }
    h2{
        text-align: center;
        padding: 1rem;
    }
    }
    p{
        font-size: 1.3rem;
        text-align: center; 
        color: var(--color_whitesmoke);
    }
}
}

/* ALL iPads, Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    main{
        padding: 2rem;
        background-image: linear-gradient(var(--color_Russian_violet),var(--color_Lris));
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.36.56\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            text-align: center;
            padding: 2rem;
            font-size: 5rem;
            background-image: linear-gradient(var(--color_Tropical_indigo),var(--color_whitesmoke));
            background-clip: text;
            color: transparent;
        }
        .vods_info{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr;
        }
        .vods_link{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: rgba(87, 2, 120, 0.263);
            backdrop-filter: blur(10px);
            border-radius: 1rem;
        img{
            width: 100%;
            border-radius: 2rem;
        }
        h2{
            text-align: center;
            padding: 1rem;
        }
        }
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; 
            color: var(--color_whitesmoke);
        }
    }
    
}

/* ALL Small screens, laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    main{
        padding: 2rem;
        background-image: linear-gradient(var(--color_Russian_violet),var(--color_Lris));
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.36.56\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            text-align: center;
            padding: 2rem;
            font-size: 5rem;
            background-image: linear-gradient(var(--color_Tropical_indigo),var(--color_whitesmoke));
            background-clip: text;
            color: transparent;
        }
        .vods_info{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr;
        }
        .vods_link{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: rgba(87, 2, 120, 0.263);
            backdrop-filter: blur(10px);
            border-radius: 1rem;
        img{
            width: 100%;
            border-radius: 2rem;
        }
        h2{
            text-align: center;
            padding: 1rem;
        }
        }
        p{
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; 
            color: var(--color_whitesmoke);
        }
    }
    
}

/* ALL Desktops, large screens */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
    main{
        padding: 2rem;
        background-image: linear-gradient(var(--color_Russian_violet),var(--color_Lris));
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.36.56\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            text-align: center;
            padding: 2rem;
            font-size: 5rem;
            background-image: linear-gradient(var(--color_Tropical_indigo),var(--color_whitesmoke));
            background-clip: text;
            color: transparent;
        }
        .vods_info{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr;
        }
        .vods_link{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: rgba(87, 2, 120, 0.263);
            backdrop-filter: blur(10px);
            border-radius: 1rem;
        img{
            width: 100%;
            border-radius: 2rem;
        }
        h2{
            text-align: center;
            padding: 1rem;
        }
        }
        p{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; 
            color: var(--color_whitesmoke);
        }
    }
    
}

/* ALL Extra large screens, TV */

@media screen and (min-width: 1201px) {
    
    main{
        padding: 2rem;
        background-image: linear-gradient(var(--color_Russian_violet),var(--color_Lris));
        background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.36.56\ PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            text-align: center;
            padding: 2rem;
            font-size: 5rem;
            background-image: linear-gradient(var(--color_Tropical_indigo),var(--color_whitesmoke));
            background-clip: text;
            color: transparent;
        }
        .vods_info{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr;
        }
        .vods_link{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: rgba(87, 2, 120, 0.263);
            backdrop-filter: blur(10px);
            border-radius: 1rem;
        img{
            width: 100%;
            border-radius: 2rem;
        }
        h2{
            text-align: center;
            padding: 1rem;
        }
        }
        p{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; 
            color: var(--color_whitesmoke);
        }
    }
    
}